<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>Servlets ejemplo</display-name>
  <description>
     Servlets de ejemplo para practicar
  </description>
  
  <servlet>
    <servlet-name>ListarUsuariosServlet</servlet-name>
    <servlet-class>controlador.listarUsuariosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarUsuariosServlet</servlet-name>
    <url-pattern>/listarUsuariosServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>logear</servlet-name>
    <servlet-class>controlador.logear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logear</servlet-name>
    <url-pattern>/logear</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>listarLibrosServlet</servlet-name>
    <servlet-class>controlador.listarLibrosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listarLibrosServlet</servlet-name>
    <url-pattern>/listarLibrosServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>EditarLibrosServlet</servlet-name>
    <servlet-class>controlador.EditarLibrosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarLibrosServlet</servlet-name>
    <url-pattern>/EditarLibrosServlet</url-pattern>
  </servlet-mapping>
</web-app>